
@{
	ViewBag.Title = "BookRecord";
	Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>借閱紀錄</h2>

@if (ViewBag.Result != null)
{
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th style="text-align:center;width:25%;">借閱日期</th>
				<th style="text-align:center;width:25%;">借閱人員編號</th>
				<th style="text-align:center;width:25%;">英文姓名</th>
				<th style="text-align:center;width:25%;">中文姓名</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in (List<BookMaintain.Models.BookRecord>)ViewBag.Result)
			{
				<tr id="@item.Lend_User_Id">
					<td style="text-align:left;">@item.Lend_Date</td>
					<td style="text-align:left;">@item.Lend_User_Id</td>
					<td style="text-align:center;">@item.Lend_User_CName </td>
					<td style="text-align:center;">@item.Lend_User_EName</td>
				</tr>
			}
		</tbody>
	</table>
}


